* {
    font-family: 'Roboto', sans-serif;
    opacity: 1 !important;
}

body{
    /* background-image: linear-gradient(45deg, #A6CF4a 10%,transparent 10%,transparent 90%,#A6CF4a 90%),linear-gradient(135deg, transparent 40%, #A6CF4a80 40%, #A6CF4a80 60%, transparent 0),linear-gradient(45deg, transparent 40%, #A6CF4a 40%, #A6CF4a 60%, transparent 0); */
    background-size: 4em 4em;
    background-color: #A6CF4A;
    opacity: 0.15;
    margin: 0;
    padding: 0;

    
}

#title{
    padding-left: 1rem;
    font-weight: bold;
    font-size: larger;
}

#introduction{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background: linear-gradient(177deg, #00000000 25%, #029edb 25%, #029edb 75%, #00000000 75%);
}

#lower{
    display: flex;
    justify-content: space-between;
}

#lower span{
    text-shadow: 0.6px 0px 0.5px white,0px 0.6px 0.5px white, -0.6px 0px 0.5px white, 0px -0.6px 0.5px white;
    font-size: larger;
    padding-left: 1.5rem;
}

.separator-line{
    display: flex;
    justify-content: start;
    background: linear-gradient(200deg,rgb(73, 225, 73) ,green, #a6cf4a,green, #07c29a,rgb(35, 142, 8));
    height: 4px;
    margin-bottom: 1rem;
}